# Database Configuration
SQLALCHEMY_DATABASE_URL=postgresql://your_db_user:your_db_password@localhost:5432/your_db_name
DB_HOST=localhost
DB_PORT=5432
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_DATABASE=your_db_name

# JWT Configuration
SECRET_KEY=
ALGORITHM=HS256
KID=
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_MINUTES=360

# OTP Configuration
OTP_EXPIRE_MINUTES=5

# Redis Configuration
REDIS_HOST=redis-1
REDIS_PORT=6379
REDIS_PASSWORD=redisPassword

# RabbitMQ Configuration
RABBIT_MQ_URL=amqp://lebe:admin321@rabbitmq/
RABBIT_MQ_ROUTING_KEY=
RABBIT_MQ_AUDIT_QUEUE=audit_queue
SMS_MQ_QUEUE=sms_queue
EMAIL_MQ_QUEUE=email_queue
BATCH_CUSTOMER_UPLOAD_QUEUE=batch_customer_upload_queue
COMPANY_QUEUE=company_creation_queue

# Frontend Configuration
BASE_FRONTEND_URL=https://lebeapp.com

# MongoDB Logging Configuration
MONGO_URI=mongodb://localhost:27017/
MONGO_DB_NAME=api_logs_db

# Application Configuration
DEBUG=true
LOG_LEVEL=INFO
SERVICE_NAME=Lebe Backend

# Google Cloud Storage (if using cloud storage)
# GOOGLE_APPLICATION_CREDENTIALS=path/to/your/service-account-key.json
# GOOGLE_CLOUD_PROJECT=your-project-id
# GOOGLE_CLOUD_STORAGE_BUCKET=your-bucket-name